 .u-section-1 {
  background-image: url("images/9f924c768a1d3455657708ad0272a8f4f879c5790508c4f60c8e1f13849f8bec476510d063ac6f05ec29c0f671d802b2d5ee3fa23bdc68f0071c97_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-form-1 {
  height: 409px;
  background-image: none;
  margin: 46px 272px 46px 298px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 172px;
    margin-left: 198px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 62px;
    margin-left: 88px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }
}